<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <menuitem
            id="menu_hospital_root"
            name="Hospital"
            sequence="10"/>
    <menuitem
            id="menu_hospital_operations"
            name="Patient Operations"
            parent="menu_hospital_root"
            sequence="10"/>
    <menuitem
            id="menu_hospital_doctor"
            name="Doctor Operations"
            parent="menu_hospital_root"
            sequence="10"/>
        <menuitem
            id="menu_hospital_appointment"
            name="Appointment Operations"
            parent="menu_hospital_root"
            sequence="10"/>
            <odoo>
      <record id="action_patient_dashboard" model="ir.actions.client">
        <field name="name">Patient Dashboard</field>
        <field name="tag">owl.patient_dashboard</field>
    </record>

    <menuitem id="menu_patient_dashboard" name="Patient Dashboard"
              parent="menu_hospital_root" action="action_patient_dashboard"
              sequence="9"
              />
</odoo>


</odoo>